$green: #82ca9c;

// common css start
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.title {
    font-weight: 300;
    font-size: 60px;
}

.title2 {
    font-weight: 300;
    font-size: 35px;
    color: #222626;
}

.title3 {
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
}

.go {
    font-weight: bold;
}

// common css end




// <!-- banner start -->
.banner {
    position: relative;
    padding-top: 55px;
    padding-bottom: 380px;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    .banner-left {
        color: #ffffff;

        img {
            margin-bottom: 170px;
        }

        h1 {
            margin-bottom: 21px;
        }

        p {
            font-size: 13px;
            line-height: 24px;
        }
    }

    .banner-right {
        position: absolute;
        top: 90px;
    }
}

// <!-- banner end -->

// <!-- new start -->
.new {
    padding-top: 115px;
    padding-bottom: 80px;

    p {
        margin-top: 35px;
        line-height: 24px;
        color: #959595;
    }

    .margin-top {
        margin-top: 200px;
    }
}

// <!-- new end -->

// <!-- services start -->
.services {
    padding-bottom: 98px;

    .heart {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        transition: .3s;

        &:hover {
            color: red;
        }
    }

    .service-1,
    .service-2,
    .service-3,
    .service-4,
    .service-5 {
        color: #ffffff;
        padding: 50px 35px 50px 42px;
        height: 100%;

        h1 {}

        p {
            margin-top: 32px;
            margin-bottom: 40px;
            line-height: 24px;
        }

        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;

            svg {
                margin-left: 10px;
            }

            &:hover {
                color: black;
            }
        }
    }

    .service-1 {
        background-color: #f5989d;
    }

    .service-2 {
        background-color: #615f7d;
    }

    .service-3 {
        background-image: url(../images/clientBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .service-4 {
        background-image: url(../images/signUpBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .service-5 {
        background-color: #82ca9c;
    }
}

// <!-- services end -->

// <!-- details start -->
.details {
    padding-bottom: 160px;

    h1 {
        margin-bottom: 70px;
    }

    h6 {
        font-size: 13px;
        line-height: 24px;
        color: #67676d;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        color: #959595;
        text-align: justify;
    }
}

// <!-- details end -->

// <!-- power start -->
.power {}

// <!-- power end -->

// <!-- reasons start -->
.reasons {}

// <!-- reasons end -->

// <!-- plan start -->
.plan {}

// <!-- plan end -->

// footer start
footer {}

// footer end